// 21130176 - Tạ Quang Thắng - 0379690935 - DH21DTA
$white: #fff;
$BlueViolet :#8A2BE2;
$black: #191919;
$skyblue: #87CEEB;
body {
    background-color: $black;
    
}
*{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#board {
    border: 1px solid $skyblue;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
}

#menu {
    background-color: $black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 0;
}
#menu {
  .title{
    color: $BlueViolet;
    font-size: 3rem;
    padding: 0;
    margin: 0;
  }
  .menugame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    button{
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover{
        background-color: $BlueViolet;
        color: $white;
      }
    }
  
  }
}
#level{
  justify-content: center;
  align-items: center;
  .canvasBoard {
    margin: 10px 20px;
    #returnGame{
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover{
        background-color: $BlueViolet;
        color: $white;
      }
    }
    #pause{
      position: absolute;
      top:80px;
      right: 10px;
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover{
        background-color: $BlueViolet;
        color: $white;
      }
    
    }
  }
  .buttonLevel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    padding: 10px;
    border: 1px solid $skyblue;
    button {
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover{
        background-color: $BlueViolet;
        color: $white;
      }
      &.active {
        background-color: $BlueViolet; // Thay đổi màu nền thành lightblue cho nút active
        color: white; // Màu chữ trắng
        font-weight: bold; // Đậm chữ
        border: 1px solid lightblue; // Viền mảnh
      }
    }
    #score{
      color: $BlueViolet;
      font-size: 2rem;
      font-weight: 100;
    }
  }
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  z-index: 9999;
}
